<p *ngIf="message" style="color: green; text-align: center">{{ message }}</p>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <h2>Welcome Back 💖</h2>

  <input type="email" [(ngModel)]="username" name="username" placeholder="Email" required />
  <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />

  <button type="submit" [disabled]="!username || !password">Login</button>

  <p>
    Don’t have an account?
    <a href="http://localhost:4200/register">Register here</a>
  </p>
</form>

  
