<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col><strong>Subscription</strong></ion-col>
      <ion-col><strong>Price (ZAR)</strong></ion-col>
      <ion-col><strong>Quantity</strong></ion-col>
      <ion-col><strong>Total</strong></ion-col>
    </ion-row>

    <ion-row *ngFor="let item of cartItems">
      <ion-col>{{ item.subscription.title }}</ion-col>
      <ion-col>{{ item.price | currency:'ZAR':'symbol':'1.2-2' }}</ion-col>
      <ion-col>
        <ion-button size="small" fill="outline" (click)="decreaseQuantity(item)">-</ion-button>
        {{ item.quantity }}
        <ion-button size="small" fill="outline" (click)="increaseQuantity(item)">+</ion-button>
      </ion-col>
      <ion-col>{{ getTotal(item) | currency:'ZAR':'symbol':'1.2-2' }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-right">
        <strong>Grand Total:</strong> {{ getGrandTotal() | currency:'ZAR':'symbol':'1.2-2' }}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" color="success" (click)="checkout()">Checkout</ion-button>

  <ion-modal [isOpen]="showModal" (didDismiss)="closeModal()">
    <ng-template>
      <ion-content class="ion-padding">
        <h2 class="ion-text-center">Payment Successful</h2>
        <ion-button expand="block" (click)="closeModal()">Close</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
