<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Welcom {{ username }}!</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Start your Fitness Journey</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>Use the tabs below to explore workout programs.</p>
    </ion-card-content>
  
    <ion-img src="https://pbs.twimg.com/media/BoC57VYIcAEE_n3.jpg" alt="Fitness Image"></ion-img>
  </ion-card>
</ion-content>

