<app-navbar />
<div class="product-wrapper">
  <h2>Product Catalog 🌸</h2>
  <p *ngIf="successMessage" style="color: green; text-align: center">
    {{ successMessage }}
  </p>

  <input type="text" [(ngModel)]="searchTerm" placeholder="Filter products..." />

  <label>Show
    <select [(ngModel)]="pageSize">
      <option [value]="3">3</option>
      <option [value]="5">5</option>
      <option [value]="10">10</option>
    </select>
    per page
  </label>

  <table>
    <thead>
      <tr>
       <!-- <th (click)="sortBy('image')">Image</th>-->
        <th (click)="sortBy('name')">Name</th>
        <th (click)="sortBy('price')">Price</th>
        <th (click)="sortBy('description')">Description</th>
        <th (click)="sortBy('brand')">Brand</th>
        <th (click)="sortBy('productType')">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredAndPaged">
        <!-- <td><img [src]="product.image" alt="Product Image" /></td> -->
        <td>{{ product.name }}</td>
        <td>R{{ product.price.toFixed(2) }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.brandName }}</td>
        <td>{{ product.productTypeName }}</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button *ngFor="let page of totalPages" (click)="currentPage = page" [class.active]="page === currentPage">
      {{ page }}
    </button>
  </div>
</div>

